:root {
    font-size: 60%;

    --primary: #fff;
    --secondary: #673AB7;
    --button-primary-hover: #512DA8;
    --content-img: #dcdde1;
    --primary-text: #222;
    --secondary-text: #282038;
    --box-footer: #fafafc;
    --button-secondary: #777;
    --footer: #2d2d2d;
    --button-box-info: #3f63da;
    --shadow: rgba(0, 0, 0, 0.5);
    --light-shadow: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
}