#app {
    min-height: 100vh;
    background-color: var(--primary);
}

 #app > header {
    width: 100%;
    padding: 0 0 1px 0;
    background-color: var(--secondary);
    box-shadow: 1px 2px 9px var(--dark-shadow);
}

header > nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

nav > #logo {
    font-size: 2.0rem;
    color: var(--primary);
    letter-spacing: 2.5px;
}

header > .search {
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 8px;
    margin: 30px auto 25px auto;
}

.search > #repo-form {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#repo-form > input {
    width: 430px;
    min-width: 90px;
    height: 100%;
    font-size: 1.6rem;
    text-align: left;
    appearance: none;
    outline: none;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--secondary-text);
    padding: 0 0 0 14px;
}

#repo-form > button {
    min-width: 70px;
    height: 100%;
    font-size: 1.7rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--primary);
}

#app > .loading {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading > #loadingContainer {
    width: 90%;
    max-width: 590px;
    height: 100%;
}

#loadingContainer > #loadingIcon {
    width: 40px;
}

#app > #container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--container);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin: 0 auto 25px auto;
}

#app > #container > .result {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    margin: 0 auto;
}

.result > .content-result {
    width: 90%;
    max-width: 340px;
    height: 257px;
    background-color: var(--primary);
    border-radius: 9px;
    border: 1px solid var(--border);
    padding: 9px 25px;
    margin: 0 auto 20px auto;
}

.content-result > header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.content-result > header > img {
    width: 80px;
    max-width: 100%;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 0px 2px 7px 0px var(--dark-shadow);
}

.content-result > header > span {
    font-size: 1.9rem;
    color: var(--primary-text);
    margin-left: 25px;
}

.content-result > p {
    width: 100%;
    height: 77px;
    padding: 9px 0;
    overflow: hidden;
    color: var(--secondary-text);
}

.content-result > footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-result > footer > #linkIcon {
    width: 170px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0.3rem solid var(--button-secondary);
    border-radius: 9px;
    color: var(--button-secondary);
    font-size: 1.7rem;
}

.content-result > footer > #linkIcon:hover {
    background-color: var(--button-secondary);
    color: var(--primary);
}

#linkIcon  > #externalLinkIcon {
    margin-left: 9px;
}

.popup-info > #container-popup-info {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark-shadow);
}

#container-popup-info > #box-info {
    width: 90%;
    max-width: 400px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    border-radius: 9px;
    padding: 0 25px;
    z-index: 2000;
}

#box-info > #info-icon {
    width: 109px;
}

#box-info > #text-info {
    font-size: 1.7rem;
    color: var(--secondary-text);
    margin-bottom: 9px;
    text-align: center;
}

#box-info > #btn-box-info {
    width: 120px;
    height: 50px;
    font: 1.7rem Poppins;
    background-color: var(--button-box-info);
    color: var(--primary);
    border: none;
    border-radius: 9px;
    letter-spacing: 2px;
    margin-bottom: 30px;
} 

#container-footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}