#app {
    min-height: 100vh;
    background-color: var(--primary);
}

 #app > header {
    width: 100%;
    padding: 0 0 1px 0;
    background-color: var(--secondary);
    box-shadow: 1px 2px 9px var(--dark-shadow);
}

header > nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

nav > #logo {
    font: 2.2rem Poppins;
    color: var(--primary);
    letter-spacing: 2.7px;
}

header > .search {
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 8px;
    margin: 30px auto 25px auto;
}

.search > #repo-form {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#repo-form > input {
    width: 430px;
    min-width: 90px;
    height: 100%;
    font-size: 1.6rem;
    text-align: left;
    appearance: none;
    outline: none;
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--secondary-text);
    padding: 0 0 0 14px;
}

#repo-form > button {
    min-width: 70px;
    height: 100%;
    font-size: 1.7rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--primary);
    color: var(--secondary-text);
}

#repo-form > button:hover {
    background-color: var(--button-primary-hover);
    color: var(--primary);
}

#app > .loading {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading > #loadingContainer {
    width: 90%;
    max-width: 590px;
    height: 100%;
}

#loadingContainer > #loadingIcon {
    width: 40px;
}

#app > .result {
    width: 100%;
    padding: 5px 0 5px 0;
}

.result > .content-result {
    width: 90%;
    max-width: 590px;
    background-color: var(--content-background);
    border-radius: 9px;
    box-shadow: 1px 2px 4px var(--shadow);
    margin: 20px auto;
}

.result > .content-result:nth-child(1) {
    margin-top: 0;
}

.content-result > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

.content-result > header > img {
    width: 80px;
    max-width: 100%;
    height: 80px;
    border-radius: 50%;
    border: 4px solid var(--primary);
    box-shadow: 0px 5px 9px 0px var(--dark-shadow);
    background-color: var(--light);
}

.content-result > header > span {
    font-size: 2.0rem;
    color: var(--primary-text);
    margin-left: 25px;
}

.content-result > p {
    font-size: 1.6rem;
    color: var(--secondary-text);
    padding: 9px 20px 25px 20px;
}

.content-result > footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: var(--box-footer);
    padding: 14px 0;
}

.content-result > footer > #linkIcon {
    text-decoration: none;
    padding: 9px 20px;
    border: 0.3rem solid var(--button-secondary);
    border-radius: 8px;
    color: var(--button-secondary);
    font-size: 1.7rem;
    font-weight: bold;
}

.content-result > footer > #linkIcon:hover {
    background-color: var(--primary);
}

#linkIcon  > #externalLinkIcon {
    margin-left: 9px;
}

.popup-info > #container-popup-info {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--shadow);
}

#container-popup-info > #box-info {
    width: 90%;
    max-width: 440px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    border-radius: 9px;
    box-shadow: 0px 5px 9px 0px var(--light-shadow);
    padding: 0 20px;
    z-index: 2000;
}

#box-info > #info-icon {
    width: 90px;
}

#box-info > #text-info {
    font-size: 1.9rem;
    color: var(--secondary-text);
    margin-bottom: 9px;
    text-align: center;
}

#box-info > #btn-box-info {
    width: 90px;
    height: 40px;
    font: 1.9rem Poppins;
    background-color: var(--button-box-info);
    color: var(--primary);
    border: none;
    border-radius: 8px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
}

footer > span {
    color: var(--light);
}