/* Tablet */

@media (min-width: 700px) {
    .content-result > header {
        padding: 20px 50px 0 50px;
    }

    .content-result > header > img {
        width: 90px;
        height: 90px;
    }

    .content-result > p {
        text-align: center;
    }
    
}



/* Desktop */

@media (min-width: 1020px) {
    .result > .content-result {
        margin-top: 40px;
    }

    .result > .content-result:nth-child(1) {
        margin-top: 20px;
    }

}



/* Large screen */

@media (min-width: 1500px) {
    :root {
        font-size: 70%;
    }

}